@charset "utf-8";



body  {
	font: 100% Verdana, Arial, Helvetica, sans-serif;
	background: #666666;
	margin: 0; /* Es empfiehlt sich, margin (Rand) und padding (Auffüllung) des Body-Elements auf 0 einzustellen, um unterschiedlichen Browser-Standardeinstellungen Rechnung zu tragen. */
	padding: 0;
	text-align: center; /* Hierdurch wird der Container in IE 5*-Browsern zentriert. Dem Text wird dann im #container-Selektor die Standardausrichtung left (links) zugewiesen. */
	color: #000000;
}



.thrColHybHdr #container { 
	width: 100%;
    background: #FFFFFF;
	/*margin: 0 auto;  Durch automatische Ränder (in Verbindung mit einer Breite) wird die Seite bei Bedarf zentriert. */
	text-align: left; /* Hierdurch wird die Einstellung text-align: center im Body-Element überschrieben. */
}  




.thrColHybHdr #header { 
	background: #300075; 
	padding: 0 10px;  /* Diese Auffüllung entspricht der linksbündigen Ausrichtung der Elemente in den divs, die darunter erscheinen. Wenn im #header anstelle von Text ein Bild eingesetzt wird, sollten Sie die Auffüllung entfernen. */
	border-bottom: solid;
	border-bottom-color: #218868;
	border-bottom-width: 4px;
} 
.thrColHybHdr #header h1 {
	margin: 0; /* Wenn Sie den Rand des letzten Elements im #header-div auf 0 einstellen, können Sie das Auftreten unerwarteter Abstände zwischen divs vermeiden. Wenn das div einen Rahmen hat, ist dies unnötig, weil dieser Rahmen die gleiche Wirkung hat. */
	padding: 10px 0; /* Durch die Verwendung der Auffüllung anstelle von Rändern lässt sich gewährleisten, dass das Element die Kanten des div nicht berührt. */
	color: #218868;
}





.thrColHybHdr #sidebar1 {
	float: left; 
	width: 11em; /* Da es sich hier um ein floatendes Element handelt, muss eine Breite angegeben werden. */
	margin: 25px 25px 0 0;
	padding: 0 0;
}
.thrColHybHdr #sidebar1 ul {
	background: #998AFF; /* Die Hintergrundfarbe wird nur für die Länge des Spalteninhalts angezeigt. */
	border-top: solid;
	border-right: solid;
	border-bottom: solid;
	border-color: #300075;
	border-width: 2px;
	margin-top: 0;
	margin-left: 0;
	margin-right: 0;
	margin-bottom: 25px;
	padding: 10px;
	list-style-type: none;
}
.thrColHybHdr #sidebar1 ul.sub {
	background: #998AFF; /* Die Hintergrundfarbe wird nur für die Länge des Spalteninhalts angezeigt. */
	border-top: none;
	border-right: none;
	border-left: none;
	border-bottom: none;
	margin-top: 0;
	margin-left: 0;
	margin-right: 0;
	margin-bottom: 0;
	padding-top: 5;
	padding-bottom: 5;
	list-style-type: none;
}
.thrColHybHdr #sidebar1 a {
	color: #300075;
}




.thrColHybHdr #sidebar2 {
	float: right; 
	width: 11em; /* Da es sich hier um ein floatendes Element handelt, muss eine Breite angegeben werden. */
	margin: 25px 25px;
	padding: 0 0;
}
.thrColHybHdr #sidebar2 ul {
	background: #FFFFFF; /* Die Hintergrundfarbe wird nur für die Länge des Spalteninhalts angezeigt. */
	border: solid;
	border-color: #300075;
	border-width: 2px;
	margin: 0;
    padding: 10px;
	list-style-type: none;
}
.thrColHybHdr #sidebar2 a {
	color: #300075;
}




.thrColHybHdr #mainback {
	float: right; 
	width: 11em; /* Da es sich hier um ein floatendes Element handelt, muss eine Breite angegeben werden. */
	margin: 0 0;
	padding: 0 0;
	text-align: right;
}



.thrColHybHdr #mainContent {
 	margin: 0 25px 0 25px; /* Der rechte Rand kann in Gevierten (ems) oder Pixel angegeben werden. Durch ihn entsteht der Abstand am rechten Seitenrand. */ 
	padding: 0 2px 0 2px; /* Durch die Auffüllung entsteht hier ein Leerraum innerhalb der Box. */	
	overflow: auto;
} 



.thrColHybHdr #contentblock1st {
	border: solid;
	border-color: #998AFF;
	border-width: 1px;
	margin-top: 25px;
	margin-bottom: 5px;
	padding: 2px;
	overflow: auto;
} 


.thrColHybHdr #contentblock {
	border: solid;
	border-color: #998AFF;
	border-width: 1px;
	margin-top: 5px;
	margin-bottom: 5px;
	padding: 2px;
	overflow: auto;
} 


.thrColHybHdr #mainContent a {
	color: #218868;
	text-decoration: none;
}


.thrColHybHdr #mainContent pre {
	width: 95%;
	margin-left: auto;
	margin-right: auto;
	color: #300075;
}


.thrColHybHdr #mainContent table {
	width: 95%;
	margin-left: auto;
	margin-right: auto;
	padding: 0.5em;
	border: solid;
	border-width: 2px;
	border-color: #300075;
	border-collapse: collapse;
}

.thrColHybHdr #mainContent th {
	background: #300075;
	color: #998AFF;
	border: 1px;
	border-style: solid;
	border-color: 300075;
}

.thrColHybHdr #mainContent td {
	border: 1px;
	border-style: solid;
	border-color: 300075;
}

.thrColHybHdr #mainContent td.e {
	background: #FFFFFF;
}

.thrColHybHdr #mainContent td.o {
	background: #998AFF;
}


.thrColHybHdr #mainContent dl {
	width: 95%;
	margin-left: auto;
	margin-right: auto;
}	

.thrColHybHdr #mainContent dt {
    font-weight: bold;
    color: #300075;
}

.thrColHybHdr #mainContent dt:after {
    content: ":";
}

.thrColHybHdr #mainContent dd {
}


.thrColHybHdr #mainContent ul {
	list-style-type:square;
}


.thrColHybHdr #mainContent hr {
	display: none;
	clear: both;
}


.thrColHybHdr #mainContent h2 {
	clear: both;
}

.thrColHybHdr #mainContent h3 {
	clear: both;
}

.thrColHybHdr #thmb-right {
	float: right;
	width: 132px;
	min-height: 132px;

    border: solid;
	border-color: #998AFF;
	border-width: 1px;
	margin: 5px;
	padding: 2px;
	
	text-align: center;
}

.thrColHybHdr #thmb-right p {
	padding: 0px;
	margin: 0px;
	font-size: smaller;
	text-align: left;
}

.thrColHybHdr #thmb-left {
	float: left; 
	width: 132px;
	min-height: 164px;

    border: solid;
	border-color: #998AFF;
	border-width: 1px;
	margin: 5px;
	padding: 2px;
	
	text-align: center;
}

.thrColHybHdr #thmb-left p {
	padding: 0px;
	margin: 0px;
	font-size: smaller;
	text-align: left;
}




.thrColHybHdr #footer { 
	padding: 0 10px; /* Diese Auffüllung entspricht der linksbündigen Ausrichtung der Elemente in den divs, die darunter erscheinen. */
	background: #300075; 
	border-top: solid;
	border-top-color: #218868;
	border-top-width: 4px;
	margin-top: 20px;
} 
.thrColHybHdr #footer p {
    margin: 0; /* Wenn Sie die Ränder des ersten Elements in der Fußzeile auf 0 einstellen, können Sie unerwartete Abstände zwischen divs vermeiden. */
	padding: 10px 0; /* Durch die Verwendung der Auffüllung bei diesem Element entsteht genau wie bei einem Rand ein Leerraum, aber ohne die potenziellen Abstandsprobleme. */
	text-align: center;
	color: #218868;
} 
.thrColHybHdr #footer a {
	color: #998AFF;
}





/* Manipulationen für Gallery 2 */
.thrColHybHdr #gallery table{
    border: none;
    padding: 0;
 	width: 100%;
	margin-left: auto;
	margin-right: auto;
}
.thrColHybHdr #gallery tr{
   border: none;
}
.thrColHybHdr #gallery td{
   border: none;
}
#gsHeader { 
    display: none;
} 
#gsFooter { 
    display: none; 
}
.gbBreadCrumb {
	display: none;
}






/* Links */
.thrColHybHdr a:visited  {
        text-decoration : none;
}

.thrColHybHdr a:active  {
        text-decoration : underline;
}

.thrColHybHdr a:hover  {
        text-decoration : underline;
}

.thrColHybHdr a:focus  {
        text-decoration : underline;
}









/* Verschiedene wieder verwertbare Klassen */
.fltrt { /* Mit dieser Klasse können Sie ein Element auf der Seite nach rechts fließen lassen. Das floatende Element muss vor dem Element stehen, neben dem es auf der Seite erscheinen soll. */
	float: right;
	margin-left: 8px;
}
.fltlft { /* Mit dieser Klasse können Sie ein Element auf der Seite nach links fließen lassen. */
	float: left;
	margin-right: 8px;
}
.clearfloat { /* Diese Klasse sollte in einem div- oder break-Element platziert werden und das letzte Element vor dem Schließen eines Containers sein, der wiederum einen vollständigen Float enthalten sollte. */
	clear:both;
    height:0;
    font-size: 1px;
    line-height: 0px;
}
