* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html,
body {
  height: 100%;
  width: 100%;
  font: 400px 16px/1.428 Consolas;
}
body {
  overflow-x: hidden;
  overflow-y: scroll;
}

.box {
  height: 100vh;
  width: 100vw;
  position: relative;
}

.image {
  position: relative;
  float: left;
}

.nav {
  position: relative;
  color: white;
  text-align: center;
  padding-top: 50px;
  font-family: sans-serif;
}

div.nav a:link {
  text-decoration: none;
  color: white;
}

div.nav a:hover {
  color: purple;
}

.topBar {
  height: 250px;
  width: 100%;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  border-bottom: 3px solid gray;
  font-size: 1.25rem;
  background-color: black;
}
.frame {
  height: calc(100% - 40px);
  width: 100%;
  position: absolute;
  top: 250px;
  left: 0;
  overflow-x: hidden;
  overflow-y: scroll;
}
