body {
	font-family: sans-serif;
	margin: 15px auto;
	color: white;
	background-color: black;
	padding: 0 10px;
}

code {
	white-space: nowrap;
	display: block;
}

@media (min-width: 800px) {
	body {
		max-width: 85%;
	}
}

tt {
	white-space: pre;
}

.cmdbox {
	background: #f5f5f5;
	border: 1px solid #aaa;
	overflow: auto;
	padding: 10px;
}
