body {
    background-color: black;
    color: white;
    font-family: sans-serif;
}

body a:link {
    color: white;
    text-decoration: none;
}

body a:hover {
    color: purple;
    text-decoration: none;
}

body div#image {
    margin-top: 2em;
    text-align: center;
    font-family: serif;
    font-size: xx-large;
}

body div {
    text-align: center;
    margin-bottom: 4em;
}

